<!-- Modal -->
<div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteEventModal">Deletar Evento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>Tem certeza que deseja deletar o evento? </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="botaoDelete" href="/sistema-cadastro-eventos/admin/evento/delete/{{event['event_id']}}" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                        Deletar
                </a>
            </div>
        </div>
    </div>
</div>
