# Configuração padrão
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP
[*.php]
indent_style = space
indent_size = 2

# HTML
[*.html]
indent_style = space
indent_size = 2

# CSS
[*.css]
indent_style = space
indent_size = 2

# JavaScript
[*.js]
indent_style = space
indent_size = 2

# MySQL
[*.sql]
indent_style = space
indent_size = 2
