# Definir linguagem para PHP
*.php linguist-language=PHP

# Definir linguagem para HTML
*.html linguist-language=HTML

# Definir linguagem para CSS
*.css linguist-language=CSS

# Definir linguagem para JavaScript
*.js linguist-language=JavaScript

# Definir linguagem para MySQL
*.sql linguist-language=MySQL

# Definir a detecção automática de fim de linha
* text=auto

# Definir a detecção automática de merge
* merge=union

# Definir a detecção automática de diferenças
* diff=auto

# Definir a detecção automática de identação
* indent=spaces

# Definir o tamanho de tabulação padrão como 4 espaços
* tabsize=4

# Definir a detecção automática de atributos
* linguist-detect-attributes

# Definir a detecção automática de linguagem
* linguist-vendored
