<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/sistema-cadastro-eventos/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/sistema-cadastro-eventos/assets/css/style.css">
  <title>Login</title>
</head>

<body>
  <header>
    <h1>Bem vindo, {{ user["name"] }}!</h1>
    <a href="/sistema-cadastro-eventos/dashboard/logout">Clique aqui para sair!</a>
  </header>
  <script src="/sistema-cadastro-eventos/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/sistema-cadastro-eventos/assets/js/jquery-3.7.0.min.js"></script>
</body>

</html>
